/* General */
html {
	scroll-behavior: smooth;
}

.lead {
	color: rgba(0, 0, 0, 0.872);
}

/* Header & Main Nav */
header {
	background: #4583ec;
}
nav {
	background: #4583ec;
	width: 80%;
	margin: 0 auto;
}
.navbar-brand {
	font-size: 36px;
	font-weight: 600;
}
nav li {
	font-size: 18px;
	font-weight: 500;
}

/* Jumbotron */
.jumbotron {
	background-image: url("../img/burger-bg.jpg");
	background-size: 850px;
	background-position: center; /* Center the image */
}
.jumbo-container {
	background-color: #ffffffd3;
	border-radius: 10px;
}

/* Main Body */
.container {
	margin-top: 5%;
}

h4 {
	padding-bottom: 15px;
}

.underline {
	text-decoration: underline double #fdcc69;
}

li {
	/* padding: 5px; */
	margin: 5px;
	/* background: #faebd7; */
}

/* Form */
.label {
	font-weight: bold;
}
.create-update-form {
	padding: 5px;
	margin: 5px;
	background: aqua;
}

.form-group {
	margin-bottom: 5px;
}
